<h4 align="center" style="
    margin-top: 42.5px;">Inspirational</h4>
<div class="container">
  <div class="row">
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>1</div>
      </div>
      <img src="https://mjom.cards/images/media/logo_product-hunt-white.png" alt="Product Hunt" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Product Hunt</h3>
        <p>The best new products in tech</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://www.producthunt.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>2</div>
      </div>
      <img src="https://www.underconsideration.com/brandnew/archives/dribbble_logo_detail.png" alt="Dribble" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Dribble</h3>
        <p>Inspiration for <strong>everything.</strong></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://dribbble.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
  </div>
</div>
