<h4 align="center" style="
    margin-top: 42.5px;">Inspirational</h4>
<div class="container">
  <div class="row">
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>1</div>
      </div>
      <img src="https://mjom.cards/images/media/logo_product-hunt-white.png" alt="Product Hunt" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Product Hunt</h3>
        <p>The best new products in tech</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://www.producthunt.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>2</div>
      </div>
      <img src="https://www.underconsideration.com/brandnew/archives/dribbble_logo_detail.png" alt="Dribble" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Dribble</h3>
        <p>Inspiration for <strong>everything.</strong></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://dribbble.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px;">Inspiration for UI</h4>
      <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>3</div>
      </div>
      <img src="https://scontent-atl3-1.cdninstagram.com/vp/1a71833ce933df8d2dd05fbc24ebd032/5C3E5E19/t51.2885-15/e35/22070005_134156807325698_7907704424582086656_n.jpg" alt="Call to Idea" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Call to Idea</h3>
        <p>Light up your imagination!</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://calltoidea.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>4</div>
      </div>
      <img src="https://letterfuel.com/_/newsletter/126680a5-05cf-4c4d-84c4-0c078321673a/image/ui-movement/" alt="UI Movement" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>UI Movement</h3>
        <p>The best UI design inspirationm every day.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://uimovement.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
  </div>
</div>
