<h4 align="center" style="
    margin-top: 42.5px; font-weight: 200;
    ">Inspirational</h4>
<div class="container">
  <div class="row">
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>1</div>
      </div>
      <img src="https://mjom.cards/images/media/logo_product-hunt-white.png" alt="Product Hunt" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Product Hunt</h3>
        <p>The best new products in tech</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://www.producthunt.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>2</div>
      </div>
      <img src="https://www.underconsideration.com/brandnew/archives/dribbble_logo_detail.png" alt="Dribble" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Dribble</h3>
        <p>Inspiration for <strong>everything.</strong></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://dribbble.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px;font-weight: 200;
    ">Inspiration for UI</h4>
      <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>3</div>
      </div>
      <img src="https://scontent-atl3-1.cdninstagram.com/vp/1a71833ce933df8d2dd05fbc24ebd032/5C3E5E19/t51.2885-15/e35/22070005_134156807325698_7907704424582086656_n.jpg" alt="Call to Idea" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Call to Idea</h3>
        <p>Light up your imagination!</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://calltoidea.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>4</div>
      </div>
      <img src="https://letterfuel.com/_/newsletter/126680a5-05cf-4c4d-84c4-0c078321673a/image/ui-movement/" alt="UI Movement" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>UI Movement</h3>
        <p>The best UI design inspirationm every day.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://uimovement.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>5</div>
      </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqoY7Vh_4S0REjiYfLv4Z0xKfDQ6SXXBLPnc2A2epFtS_1_VSv" alt="Awwwards" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Awwwards</h3>
        <p>Best web design trends.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://www.awwwards.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>6</div>
      </div>
      <img src="https://wegrowth.com/wp-content/uploads/2017/07/goodUI-logo.png" alt="UI Movement" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Good UI</h3>
        <p>The <strong>Dont's</strong> and <strong>Do's</strong> guide for web design.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://goodui.org/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
     <h4 align="center" style="margin-top: 42.5px; font-weight: 200;
    ">Colors - Color pickers</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>7</div>
      </div>
      <img src="https://i.ytimg.com/vi/T1wjAZJkn8c/maxresdefault.jpg" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Sip</h3><label style="font-weight: 400;">Mac</label>
        <p>Best web design trends.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://sipapp.io/trial/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-apple"></i></i></i></a></li>       
       <li><a hrfef="https://sipapp.io/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>8</div>
      </div>
      <img src="https://i.pinimg.com/originals/83/0a/06/830a062a60cf1bbc069a3daa3411e2d1.png" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>ColorZilla</h3><label style="font-weight: 400;">Chrome</label>
        <p>EyeDropper & Collorpicker for Chrome.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp?hl=pt-BR" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-chrome"></i></a></li>  
       <li><a hrfef="http://www.colorzilla.com/chrome/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Colors - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>9</div>
      </div>
      <img src="https://steemitimages.com/0x0/https://huntimages.s3.us-west-2.amazonaws.com/production/steemhunt/2018-08-28/76574abe-Color-Hunt.jpg" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Colorhunt</h3>
        <p>Collor palletes for artists and web developers</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="https://colorhunt.co/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>10</div>
      </div>
      <img src="https://d1w5usc88actyi.cloudfront.net/styles/full/s3/lead/2015/05/coolors-color-scheme-generator-photography.jpg" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Coolors</h3><label style="font-weight: 400;">Mac</label>
        <p>Super fast color schemes generator!</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://search.itunes.apple.com/WebObjects/MZContentLink.woa/wa/link?path=apps%2fcoolors" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-apple"></i></i></i></a></li>       
       <li><a hrfef="https://coolors.co/app" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>11</div>
      </div>
      <img src="https://picular.co/ogimage.jpg" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Picular</h3>
        <p>Color generator using Google's image search.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">    
       <li><a hrfef="https://picular.co/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Colors - Trends</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>12</div>
      </div>
      <img src="https://steemitimages.com/0x0/https://huntimages.s3.us-west-2.amazonaws.com/production/steemhunt/2018-08-28/76574abe-Color-Hunt.jpg" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Color Trends for Dribble</h3>
        <p>Collor palletes for artists and web developers</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="http://nathanspeller.com/color-pickers/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>13</div>
      </div>
      <img src="https://rosenfeldmedia.com/eux2016/wp-content/uploads/sites/3/2015/02/UXPin_logo_reverse-LightBlue.png" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Web Design Trends 2018</h3><label style="font-weight: 400;">E-book</label>
        <p>An ebook from uxpin.com®</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://search.itunes.apple.com/WebObjects/MZContentLink.woa/wa/link?path=apps%2fcoolors" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-apple"></i></i></i></a></li>       
       <li><a hrfef="https://coolors.co/app" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></i></a></li>
      </ul>
    </div>
  </div>
</div>
