<h4 align="center" style="
    margin-top: 42.5px; font-weight: 200;
    ">Inspirational</h4>
<div class="container">
  <div class="row">
    <div class="product col-xs-12">
      <div class='product-upvote'>
        <div class='product-count'>1</div>
      </div>
      <img src="https://mjom.cards/images/media/logo_product-hunt-white.png" alt="Product Hunt" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Product Hunt</h3>
        <p>The best new products in tech</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://www.producthunt.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>2</div>
      </div>
      <img src="https://www.underconsideration.com/brandnew/archives/dribbble_logo_detail.png" alt="Dribble" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Dribble</h3>
        <p>Inspiration for <strong>everything.</strong></p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://dribbble.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px;font-weight: 200;
    ">Inspiration for UI</h4>
      <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>3</div>
      </div>
      <img src="https://assets.themevault.net/uploads/blog-14/Design-Inspiration-Calltoidea.png" alt="Call to Idea" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Call to Idea</h3>
        <p>Light up your imagination!</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://calltoidea.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>4</div>
      </div>
      <img src="https://letterfuel.com/_/newsletter/126680a5-05cf-4c4d-84c4-0c078321673a/image/ui-movement/" alt="UI Movement" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>UI Movement</h3>
        <p>The best UI design inspiration every day.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://uimovement.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>5</div>
      </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqoY7Vh_4S0REjiYfLv4Z0xKfDQ6SXXBLPnc2A2epFtS_1_VSv" alt="Awwwards" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Awwwards</h3>
        <p>Best web design trends.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://www.awwwards.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>6</div>
      </div>
      <img src="https://wegrowth.com/wp-content/uploads/2017/07/goodUI-logo.png" alt="UI Movement" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Good UI</h3>
        <p>The <strong>Dont's</strong> and <strong>Do's</strong> guide for web design.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><a href="https://goodui.org/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;
    ">Colors - Color pickers</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>7</div>
      </div>
      <img src="https://i.ytimg.com/vi/T1wjAZJkn8c/maxresdefault.jpg" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Sip</h3><label style="font-weight: 400;">Mac</label>
        <p>The best way to collect, organize & share your colors.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://sipapp.io/trial/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-apple"></i></a></li>       
       <li><a hrfef="https://sipapp.io/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>8</div>
      </div>
      <img src="https://i.pinimg.com/originals/83/0a/06/830a062a60cf1bbc069a3daa3411e2d1.png" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>ColorZilla</h3><label style="font-weight: 400;">Chrome</label>
        <p>EyeDropper & Collorpicker for Chrome.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://chrome.google.com/webstore/detail/colorzilla/bhlhnicpbhignbdhedgjhgdocnmhomnp?hl=pt-BR" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-chrome"></i></a></li>  
       <li><a hrfef="http://www.colorzilla.com/chrome/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Colors - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>9</div>
      </div>
      <img src="https://steemitimages.com/0x0/https://huntimages.s3.us-west-2.amazonaws.com/production/steemhunt/2018-08-28/76574abe-Color-Hunt.jpg" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Colorhunt</h3>
        <p>Collor palletes for artists and web developers.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="https://colorhunt.co/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>10</div>
      </div>
      <img src="https://d1w5usc88actyi.cloudfront.net/styles/full/s3/lead/2015/05/coolors-color-scheme-generator-photography.jpg" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Coolors</h3><label style="font-weight: 400;">Mac</label>
        <p>Super fast color schemes generator!</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://search.itunes.apple.com/WebObjects/MZContentLink.woa/wa/link?path=apps%2fcoolors" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-apple"></i></a></li>       
       <li><a hrfef="https://coolors.co/app" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>11</div>
      </div>
      <img src="https://picular.co/ogimage.jpg" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Picular</h3>
        <p>Color generator using Google's image search.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">    
       <li><a hrfef="https://picular.co/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Colors - Trends</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>12</div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0990/9042/files/BehrColorTrends2018.png?v=1510276818" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Color Trends for Dribble</h3>
        <p>Collor palletes for artists and web developers.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="http://nathanspeller.com/color-pickers/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>13</div>
      </div>
      <img src="https://rosenfeldmedia.com/eux2016/wp-content/uploads/sites/3/2015/02/UXPin_logo_reverse-LightBlue.png" alt="Sip" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Web Design Trends 2018</h3><label style="font-weight: 400;">E-book</label>
        <p>An ebook from uxpin.com®</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a href="https://search.itunes.apple.com/WebObjects/MZContentLink.woa/wa/link?path=apps%2fcoolors" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-book"></i></a></li>       
       <li><a hrfef="https://coolors.co/app" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Images - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>14</div>
      </div>
      <img src="https://logodownload.org/wp-content/uploads/2018/04/flickr-logo.png" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Flickr</h3>
        <p>Sharing and management photo platform</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="https://www.flickr.com/explore" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>15</div>
      </div>
      <img src="https://www.pexels.com/assets/pexels-logo-7e4af4630e66b6b786567041874586aeb1b5217589035c70a0def15aacd0f11a.png" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Pexels</h3>
        <p>Free stock photos.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://www.pexels.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>16</div>
      </div>
      <img src="https://opendoor.digital/wp-content/uploads/2017/10/UnsplashLogo.png" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Unsplash.it</h3>
        <p>Lorem Ipsum... but for photos.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">    
       <li><a hrfef="https://picsum.photos/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Icons - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>17</div>
      </div>
      <img src="https://www.datingadvice.com/wp-content/uploads/2017/02/NounProject_brandmark_horizontal_black.png" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>The Noun Project</h3>
        <p>Icons for everything.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="https://thenounproject.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>18</div>
      </div>
      <img src="https://maxcdn.icons8.com/app/uploads/2017/01/Shop-Store-Icon-5.png" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>IconStore</h3>
        <p>Free icons set by first-class designers.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://iconstore.co/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Fonts - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>19</div>
      </div>
      <img src="https://assets6.domestika.org/project-items/001/838/326/03.fontface-ninja-big.jpg?1485257722" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Font Face Ninja</h3><label style="font-weight: 400;">Chrome</label>
        <p>Free browser extension that let you inspect any fonts on any website.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a href="https://chrome.google.com/webstore/detail/fontface-ninja/eljapbgkmlngdpckoiiibecpemleclhh" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fab fa-chrome"></i></a></li>
       <li><a hrfef="https://fontface.ninja/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>20</div>
      </div>
      <img src="https://www.gstatic.com/images/icons/material/apps/fonts/1x/opengraph_color_1200dp.png" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Google Fonts</h3>
        <p>Making the web more beautiful, fast, and open through great typography.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://fonts.google.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>21</div>
      </div>
      <img src="https://goodlogo.com/images/logos/myfonts_logo_3430.gif" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>My Fonts</h3>
        <p>Fonts for print, products, screens & more.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://www.myfonts.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>22</div>
      </div>
      <img src="https://www.ostraining.com/cdn/images/coding/font-squirrel.png" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Font Squirrel</h3>
        <p>Scours the internet for high quality, legitimately free fonts.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://www.fontsquirrel.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Gradients - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>23</div>
      </div>
      <img src="http://uigradients.com/static/images/uigradients.jpg" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>uiGradients</h3>
        <p>Beautiful colored gradients.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">       
       <li><a hrfef="https://uigradients.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>24</div>
      </div>
      <img src="https://i.ytimg.com/vi/0zQIHLGv5Rs/maxresdefault.jpg" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Gradient Hunt</h3>
        <p>Thousands of trendy color gradients in a curated collection that is updated daily.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://gradienthunt.com/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
    <h4 align="center" style="margin-top: 42.5px; font-weight: 200;">Code Snippets - Resources</h4>
    <div class="product">
      <div class='product-upvote'>
        <div class='product-count'>25</div>
      </div>
      <img src="https://cdn-images-1.medium.com/max/1600/1*Otx7CXIY9eh0Sxlp54olxA.png" alt="" class="product-image hidden-xs">
      <div class='product-body'>
        <h3>Code Pen</h3>
        <p>Social development environment for front-end designers and developers.</p>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
       <li><a hrfef="https://codepen.io/" target="_blank" alt="Go To Page" style="font-size: x-large;"><i class="fas fa-location-arrow"></i></a></li>
      </ul>
    </div>
  </div>
</div>
